@media screen and (max-width: 1200px) {
    /* body{
        background-color: red;
    } */

    
/* Section 1 - img*/

.section1{
    height: 80vh;
}


.imageDesc{
    font-size: 5vh;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 10px 42px;
    margin: 12px;
}

.section1 img{
    height: 200px;
    width: 200px;
}


/* section 2 - Img , details*/
.section2{
    display: flex;
    font-size: 3vw;
    flex-wrap: wrap;
}

.sec2Item{
    padding: 10px;
    margin: 0px 5px;
}

/* About Section */

.intro{
    margin-top: 30px;
}


.about {
    padding: 0px;
    margin: 0px;
}

.about-img-desc{
    flex-wrap: wrap;
}

.about-desc{
    /* border: 2px solid red; */
    padding: 0px;
    margin-left: 10px;
}

.about img{
    height: 400px;
    width: 400px;
    display: none;
}

.about-desc-ul{
    display: block;
}

/* SKILLS */

.skills-progress {
    display: block;
}


.skills-progress-left{
    /* border: 2px solid rgb(28, 223, 34); */
    width: 100%;
    padding: 7px;
}

.skills-progress-right{
    /* border: 2px solid aqua; */
    width: 100%;
    padding: 7px;
}


/* Project Section */
.project-cards-flex{
    flex-wrap: wrap;
}

/* Contact */

.contact{
    padding: 60px 0px;
    margin: 15px;
}



} /*End of media*/