/* Imporment: there can be use of variables for colours backgorund and fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Utilies */

.text-center{
    text-align: center;
}


/* Navbar */
.navbar-font{
    font-size: larger;
}

/* Section 1 - img*/

.section1{
    background-image: url("/img/bg1.png");
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.section1 img{
    height: 300px;
    width: 300px;
    border: 4px solid rgb(255, 255, 254);
    border-radius: 143px;
}

.imageDesc{
    font-size: 5vh;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 10px 42px;
    margin: 24px;
}

/* section 2 - Img , details*/
.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    /* font-weight: lighter; */
    font-size: 25px;
    flex-wrap: wrap;
}

.sec2Item{
    padding: 15px;
    margin: 0px 55px;
}

.sec2Item img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

/* About Section */

.about{
    font-size: 20px;
    font-family: 'Roboto', serif;
    padding: 10px 42px;
    margin: 50px;
    /* background-color: #fbe9e7; */
}

.intro{
    margin: 12px;
}

.about-img-desc{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 20px;
}

.about img{
    height: 400px;
    width: 400px;
}

.about-desc{
    padding: 10px;
    margin-left: 20px;
}

.about-desc-ul{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    padding: 10px;
}

/* Section Skills */

.skills{
    /* background-color:  #FFEDED; */
    font-family: 'Roboto Slab', serif;
    padding-bottom: 50px;
}

.skills h1{
    padding-top: 30px;
}

.skills-desc{
    /* border: 2px solid red; */
    padding-bottom: 10px;
}

.skills-progress strong{
    margin-bottom: 10px;
}

.skills-progress {
    display: flex;
}

.skills-progress-left{
    /* border: 2px solid rgb(28, 223, 34); */
    width: 50%;
    padding: 20px;
}

.skills-progress-right{
    /* border: 2px solid aqua; */
    width: 50%;
    padding: 20px;
}

.skills-progress-margin{
    margin: 7px 0px;
}

/* Project Section */
.project-cards-flex{
    display: flex;
    align-items: center;
    justify-content: center;

}

.Projects{
    font-family: 'Roboto Slab', serif;
}



/* Contact Section */

.contact{
    /* border: 2px solid rgb(19, 40, 147); */
    font-family: 'Roboto Slab', serif;
    padding: 60px 0px;
}

/* Footer Section */

.footer{
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: large;
}

/* Project.html */
.Project-item img{
    width: 900px;
}

.Project-text strong{
    margin: 30px 0px;
}

.Project-text{
    font-family: 'Roboto Slab', serif;
    font-size: larger;
    font-weight: 500;
}